@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.max-width {
  @apply lg:mx-auto lg:px-24 xl:px-48 px-5;
}
.section {
  @apply pt-8 xl:pt-28 2xl:pt-44;
}
.bg-gradient {
  @apply bg-gradient-to-bl from-cyan-400 to-blue-400;
}
.text-content {
  @apply text-dark-content;
}
.typewritter {
  @apply text-2xl text-dark-heading md:text-4xl xl:text-3xl xl:leading-tight font-bold mt-2;
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#no-scroll {
  overflow: hidden;
  height: 100vh;
}
#preloader-none {
  opacity: 0;
}
#preloader {
  position: fixed;
  top: 270px;
  width: 100%;
  height: 100%;
}
.react_logo_container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 113px;
}

.react {
  position: absolute;
  width: 50px;
  height: 125px;
  border: 5px solid #61dafb;
  border-radius: 50%;
  background: transparent;
  transform: rotate(90deg);
  animation: 15s infinite linear spin;
}

.react::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 125px;
  border: 5px solid #61dafb;
  border-radius: 50%;
  background: transparent;
  transform: rotate(60deg);
  top: -5px;
  right: -5px;
}
.react::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 125px;
  border: 5px solid #61dafb;
  border-radius: 50%;
  background: transparent;
  transform: rotate(120deg);
  top: -5px;
  right: -5px;
}
.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 170px;
  border-radius: 50%;
  background-color: #61dafb;
}

.dot::before {
  content: "";
  position: absolute;
  background: transparent;
  border: 1px solid #282c34;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: -70px;
  right: -65px;
  box-shadow: 0 0 0 0 rgb(97, 218, 251);
  animation: 2s infinite linear pulse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(97, 218, 251, 0.4);
  }
  30% {
    box-shadow: 0 0 0 25px rgba(97, 218, 251, 0);
  }
  70% {
    box-shadow: 0 0 0 55px rgba(97, 218, 251, 0);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(97, 218, 251, 0);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 330px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
